.fund-details {
  width: 50rem;
  border: 1px solid;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  -webkit-box-shadow: 3px 4px 36px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 36px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 36px -6px rgba(0, 0, 0, 0.75);
  .fund-name {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #000;
    color: #1457a3;
    @media screen and(max-width:425px) {
      font-size: 2rem;
    }
  }
  .scheme-category,
  .scheme-name,
  .scheme-type {
    font-size: 1.5rem;
    @media screen and(max-width:425px) {
      font-size: 1.2rem;
    }
  }
}
