.mutual-fund {
  padding: 1rem;
  @media screen and(max-width:425px) {
    padding: 1rem 0;
  }
  h1 {
    color: #2dd4e3;
    font-weight: bold;
  }
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  .btn {
    margin: 0.5rem 1rem;
    width: 10rem;
    background-color: #0877bd;
    color: white;
    font-weight: bold;
    &:hover {
      background-color: #0be096;
    }
    &:focus {
      background-color: #0be096;
    }
    @media screen and(max-width:425px) {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}

.active-btn {
  background-color: #0be096;
}
