.brand {
  h2 {
    color: #28c3d1 !important;
    font-weight: bold;
  }
  h5 {
    color: black;
  }
}

.my-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333 !important;
}

.public-repo {
  font-size: 1.2rem;
  font-weight: bold;
  a {
    text-decoration: none;
    color: cornflowerblue !important;
  }
  a:hover {
    color: limegreen !important;
  }
}
